[submodule "elasticsearch"]
	path = elasticsearch
	url = git@github.com:elastic/elasticsearch-docker.git
[submodule "kibana"]
	path = kibana
	url = git@github.com:elastic/kibana-docker.git
[submodule "logstash"]
	path = logstash
	url = git@github.com:elastic/logstash-docker.git
[submodule "beats"]
	path = beats
	url = git@github.com:elastic/beats-docker.git
